HUME_API_KEY=slpgVW4eLe3xX4xFs71cKkMfoqax9BaYDB709q4Ye4X0N1I8
HUME_SECRET_KEY=NbjZbXzSPCGoZ0hYRLpMNHXfPPsN3xHT4mb1KLPIoMqLHVjsPUje96H18ZI4IWjb
NEXT_PUBLIC_HUME_CONFIG_ID=1431ef7f-405b-4ee9-9109-f1a58785e2ef